<%= content_for :title, "About" %>

<div class='pages'>
  <h1>ABOUT!</h1>
  <p id="legal">The idea for <span class="ak">Achtung! Kontrolleur!</span> was born from the paralysing anxiety that accompanies riding Berlin's public transport system without a validated ticket in contast fear of the undercover ticket inspector.
  <br>
  <br>
  Check <span class="ak">Achtung! Kontrolleur!</span> to see if there have been any ticket inspector sightings have occured recently between where you currently are and where you are wanting to go.
  <br>
  <br>
  If there is, buy a ticket.
  <br>
  <br>
  If not, relax and take a chance.
  <br>
  <br>
  If you see an inspector, let your fellow bahn-dits know by pressing the 'ACHTUNG!' button.
</div>