<%= content_for :title, "Contact" %>

<div class='pages'>
  <h1>CONTACT!</h1>
  <p id="legal">
    Get in touch!
    <br>
    <br>
    We would love to hear your feedback, feature suggestions and tales of narrow escapes from the inspectors.
    <br>
    <br>
    info@achtungkontrolleur.com
    <br>
    <br>
    Safe travels!
  </p>
</div>