<%= content_for :title, "Legal" %>

<div class='pages'>
  <h1>LEGAL!</h1>
  <p id="legal">
    <span id="one">
      <span class="ak">Achtung! Kontrolleur!</span> is not responsible for any fines for riding without a validated ticket.<br>
    </span>
    <span id="two">
      <span class="ak">Achtung! Kontrolleur!</span> is not responsible for any fines for riding without a validated ticket.<br>
    </span>
    <span id="three">
      <span class="ak">Achtung! Kontrolleur!</span> is not responsible for any fines for riding without a validated ticket.<br>
    </span>
    <span id="four">
      <span class="ak">Achtung! Kontrolleur!</span> is not responsible for any fines for riding without a validated ticket.<br>
    </span>
  </p>
</div>